<h1>Users#show</h1>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.email %>

<%= link_to "1", vote_user_path(@user, type: "1"), method: "post" %> | 
<%= link_to "2", vote_user_path(@user, type: "2"), method: "post" %> | 
<%= link_to "3", vote_user_path(@user, type: "3"), method: "post" %> | 
<%= link_to "4", vote_user_path(@user, type: "4"), method: "post" %> | 
<%= link_to "5", vote_user_path(@user, type: "5"), method: "post" %>