<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h2>Images</h2>
<% @product.images.each do |image| %>
  <p>
    <strong>Title:</strong>
    <%= image.title %>
  </p>
 
  <p>
    <strong>Location:</strong>
    <%= image.location %>
  </p>
<% end %>

<h2>Add an image:</h2>
<%= form_for([@product, @product.images.build]) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
